@{
    ViewData["Title"] = "Home Page";
    //Layout = null;
}

 <div class="text-center">
    <h1 class="display-4"> Welcome </h1>
    @*<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>

<p>

    An HR system, also known (HRMS) or (HRIS), is a business application designed to manage the complete employee and custoumers. It helps businesses manage and automate
    their core HR processes such as employee data storage,custoumer data storage benefits administration, deatils and update CV's'
    
    Learn more:
</p>


 @*<div class=" row">
     <div class=" col-md-6 col-sm-12">
        <h1 welcome page!!<</h1>

     </div>
    <div class=" col-md-6 col-sm-12">
        <h2 main pg</h2>

 </div>*@
 


        @*<a href="www.google.com" target="_blank">Link to google </a>*@ 
         